{{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
<form action="/jobnomenclature" method="post"> 
    
    {{#each listtype}} 
      {{this.name}} - 
      {{this.typeContract.name}}<br>
    {{/each}}
    
    <input type="text" name="nomeclature">
    <select name="codigoRef" id="codigoRef">
      {{#each listusers}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <button>Enviar</button>
</form>