<div class="container">

    <div class="typecontract">
          {{#if success_typecontract}}
          <div class="success">
              <div class="msgS">
                  {{success_typecontract}}
              </div>
            </div>
          {{/if}}

          {{#if error_typecontract}}
            <div class="error">
              <div class="msgE">
                  {{error_typecontract}}
              </div>
            </div>
          {{/if}}
        
      <form action="/typecontract" method="post"> 

        <label for="typecontract">Tipo do Contrato</label><br>
        <input type="text" name="typecontract" id="typecontract">

        <button>Cadastrar</button>

      </form> 
      <table>
      <tr>
        <th>
          Tipos de Contrato
        </th>
      </tr>
      {{#each typeContract}} 
        <tr>
          <td>
            {{this.name}}
          </td>
        </tr>
        {{/each}}
        </table>
        <div class="seemore">
          <div class="btnSeeMore">
            Ver mais +
          </div>
        </div>
    </div>

    <div class="jobnomenclature">
      
          {{#if success_jobnomenclature}}
            <div class="success">
              <div class="msgS">
                  {{success_jobnomenclature}}
              </div>
            </div>  
          {{/if}}

          {{#if error_jobnomenclature}}
            <div class="error">
              <div class="msgE">
                  {{error_jobnomenclature}}
              </div>
            </div>
          {{/if}}
  
      <form action="/jobnomenclature" method="post"> 

        <label for="jobnomenclature">Nome do Cargo</label><br>
        <input type="text" name="jobnomenclature" id="jobnomenclature"><br>

        <label for="reftypecontract">Tipo do Contrato</label><br>
        <select name="reftypecontract" id="reftypecontract">
          {{#each typeContract}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>

        <button>Cadastrar</button>

      </form> 
      <table>
        <tr>
          <th>
            Nomenclatura do cargo
          </th>
          <th>
            Tipo de contrato
          </th>
        </tr>

        {{#each jobNomenclature}} 
        <tr>
          <td>
            {{this.name}}
          </td>
          <td>
            {{this.typeContract.name}}
          </td>
        </tr>
        {{/each}}
      </table>
      <div class="seemore">
          <div class="btnSeeMore">
            Ver mais +
          </div>
      </div>
    </div>

    <div class="sector">
      
          {{#if success_sector}}
            <div class="success">
              <div class="msgS">
                  {{success_sector}}
              </div>
            </div>
          {{/if}}

          {{#if error_sector}}
            <div class="error">
              <div class="msgE">
                  {{error_sector}}
              </div>
            </div>
          {{/if}}

      
      <form action="/sector" method="post"> 

        <label for="sector">Setor</label><br>
        <input type="text" name="sector" id="sector">

        <button>Cadastrar</button>

      </form> 
      <table>
        <tr>
          <th>
            Setor
          </th>
        </tr>

        {{#each Sector}} 
        <tr>
          <td>
            {{this.name}}
          </td>
        </tr>
        {{/each}}
      </table>
      <div class="seemore">
          <div class="btnSeeMore">
            Ver mais +
          </div>
      </div>
    </div>

    <div class="secretary">
      
          {{#if success_secretary}}
            <div class="success">
              <div class="msgS">
                  {{success_secretary}}
              </div>
            </div>
          {{/if}}

          {{#if error_secretary}}
            <div class="error">
              <div class="msgE">
                  {{error_secretary}}
              </div>
            </div>
          {{/if}}

  
      <form action="/secretary" method="post"> 

        <label for="secretary">Secretaria</label><br>
        <input type="text" name="secretary" id="secretary">

        <button>Cadastrar</button>

      </form> 
      <table>
        <tr>
          <th>
            Secretaria
          </th>
        </tr>

        {{#each Secretary}} 
        <tr>
          <td>
            {{this.name}}
          </td>
        </tr>
        {{/each}}
      </table>
      <div class="seemore">
          <div class="btnSeeMore">
            Ver mais +
          </div>
      </div>
    </div>

    <div class="sex">
      
          {{#if success_sex}}
            <div class="success">
              <div class="msgS">
                  {{success_sex}}
              </div>
            </div>
          {{/if}}

          {{#if error_sex}}
            <div class="error">
              <div class="msgE">
                  {{error_sex}}
              </div>
            </div>
          {{/if}}
        
      <form action="/sex" method="post"> 

        <label for="sex">Sexo</label><br>
        <input type="text" name="sex" id="sex">

        <button>Cadastrar</button>

      </form> 
      <table>
        <tr>
          <th>
            Sexo
          </th>
        </tr>

        {{#each Sex}} 
        <tr>
          <td>
            {{this.name}}
          </td>
        </tr>
        {{/each}}
        </table>
        <div class="seemore">
          <div class="btnSeeMore">
            Ver mais +
          </div>
        </div>
    </div>
  
</div>